@model JobPortal.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComapnyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComapnyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessStream.BusinessStream1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessStream.BusinessStream1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
